<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dino DB</title>
  <!-- CDN de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Fuentes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
  <!-- Datatables -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>

<body class="text-white dinobg">

  <h1 class="text-center mb-4 pixelify-sans">
    Din<span class="egg-icon"></span> DB
  </h1>
  <iframe src="/game/index.html" id="gameFrame"></iframe>

  <form id="formScore" action="/" method="post">
    <div class="form-container">
      <div class="inputs">
        <input type="text" name="name" id="" placeholder="Nombre" required>
        <input type="text" name="id" placeholder="ID" required>
      </div>
      <div id="pointsForm">
        <label for="score">游꿢 M치ximo Puntaje: 0</label>
        <progress id="score" max="${maxScore}" value="${score}"></progress>
        <input type="text" name="score" id="scoreHidden" value="${score}">
      </div>
      <div class="div-button">
        <button type="submit" class="btnGreen pixelify-sans">Enviar</button>
        <small id="record">
          Record actual: <strong>游끥${maxScore}</strong>
        </small>
      </div>
      <div style="border-radius: 10px; text-align: left; color: #fff; max-width: 700px; margin-top: 5px; padding: 8px 0px;">
        <div style="display: flex; align-items: center; gap: 6px; margin-bottom: 5px;">
          <span style="color: #4CAF50; font-size: 22px; line-height: 0.9;">&#128712;</span>
          <span style="color: #bbbbbb; font-size: 12px; font-weight: bold; margin-top: 1px;">Elegi un ID para guardar tu puntaje o remplazarlo en caso de que sea mayor al que ya hayas registrado</span>
        </div>
        </div>
    </div>
  </form>

  <main>
    <!-- Tabla para mostrar los datos -->
    <div class="div-table table-responsive">
      <h2 class="table-title text-center pixelify-sans">Ranking de Puntuaciones</h2>
      <table id="rankingTable" class="table table-striped table-dark">
        <thead>
          </tr>
          <th>Jugador</th>
          <th>Puntuaci칩n</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < listScores.length; i++) { %>
            <tr>
              <td>
                <div style="text-align: center; font-weight: bold; font-size: 1.5em;">
                  <% 
                    let medal = '';
                    if (i === 0) { // Primer lugar
                      medal = '游볞';
                    } else if (i === 1) { // Segundo lugar
                      medal = '游볟';
                    } else if (i === 2) { // Tercer lugar
                      medal = '游볠';
                    }
                  %>
                  <span style="font-size: 1.2em; color: #FFD700;"> <%= medal %> </span> <%= listScores[i].name %>
                </div>
              </td>
              <td data-order="<%= listScores[i].score %>">
                <div
                  style="padding: 10px; border-radius: 10px; background-color: #143034; text-align: center; color: #fff;">
                  <label for="score" style="font-weight: bold; font-size: 1.2em; margin-bottom: 10px; display: block;">
                    游꿢 Puntaje: <%= listScores[i].score %>
                  </label>
                  <progress id="score" max="<%= listScores[0].score %>" value="<%= listScores[i].score %>" style="width: 100%; height: 12px; border-radius: 5px; overflow: hidden; background-color: #555; accent-color: #FFD700;">
                  </progress>
                  <small style="display: block; margin-top: 8px; color: #bbb;">
                    Record actual: <strong style="color: #FFD700;">游끥<%= listScores[0].score %></strong>
                  </small>
                </div>
              </td>
            </tr>
          <% } %>
        </tbody>
        
      </table>
    </div>

    <div
      style="border-radius: 10px; background-color: #0a181b; border-left: 6px solid #4CAF50; text-align: left; color: #fff; max-width: 700px; padding: 20px; margin: 50px auto; box-shadow: 0px 4px 10px rgba(0,0,0,0.3);">
      <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">
        <span style="color: #4CAF50; font-size: 32px; line-height: 0.9;">&#128712;</span>
        <span style="color: #4CAF50; font-size: 22px; font-weight: bold; margin-top: 2px;">Informaci칩n</span>
      </div>
      <p style="color: #bbbbbb; margin: 0;">
        Este sitio hago uso de una modificaci칩n del cl치sico juego T-Rex Runner de Google que fue recreado en el
        siguiente
        <a href="https://github.com/wayou/t-rex-runner" target="_blank" style="color: #4CAF50; text-decoration: none;">
          repositorio
        </a>.
        Aqu칤 lo presento con nuevos estilos y c칩digo adicional para interactuar con el juego guardando y mostrando los
        puntajes obtenidos mediante Express, EJS y SQL.
      </p>
    </div>
  </main>


  <footer
    style="text-align: center; padding: 10px; padding-top: 20px; background-color: #0a181bda;  color: #bbbbbb; border-top: 4px solid #254345; width: 100%; font-weight: 700; margin-top: 50px; ">
    <p>
      춸 2024 DINO DB. Sitio desarrollado por
      <a href='mailto:augustofonsdev@gmail.com' style="color: #4CAF50; text-decoration: none;">
        augustofonsdev@gmail.com
      </a>
    </p>
  </footer>

  <script src="/javascripts/datatables.js"></script>

  <script>
    let maxScore = "<%= listScores[0].score %>"; // Un valor inicial para el puntaje m치ximo

    document.getElementById('record').innerHTML = `
          <small id="record" style="color: #bbb;">
            Record actual: <strong style="color: #FFD700;">游끥${maxScore}</strong>
          </small>
        `
    window.addEventListener('message', function (event) {
      if (event.data && event.data.score !== undefined) {
        document.getElementById('formScore').style.display = 'block';

        const score = event.data.score;
        if (score > maxScore) {
          maxScore = score;
        }

        document.getElementById('pointsForm').innerHTML = `
          <label for="score" style="font-weight: bold; font-size: 1.1em; display: block; text-align: center;">
            游꿢 M치ximo Puntaje: ${score}
          </label>
          <progress id="score" max="${maxScore}" value="${score}" style="width: 100%; height: 20px; border-radius: 5px; overflow: hidden; 
                  background-color: #555; accent-color: #4CAF50;">
          </progress>
          <input type="hidden" name="score" id="scoreHidden" value="${score}">
        `
      }

      if (event.data.play) {
        document.getElementById('gameFrame').style.height = '270px';
        gameFrame.contentWindow.focus();
      }
    });
  </script>
</body>

</html>